[Unit]
Description=Run restic backup on {{ item.repo }}
After=network.target


[Service]
Type=oneshot
User={{ item.backup_script_owner }}
Group={{ item.backup_script_group }}
ExecStart={{ item.backup_script_path }}/{{ item.backup_script_name }}
